.DS_Store/**
**/.DS_Store
**.terraform/
**terraform.tfstate
**terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
**override.tf
**override.tf.json
*_override.tf
*_override.tf.json
**.terraformrc
**terraform.rc
**terraform.plan
**tfplan